 <body style="background-color: rgb(237, 250, 237);">  
  <br>               
<div class="container" align="center" style="margin-top:50px" >
  <h1 style="color:green;font-family: BroadWay;"> Thank you for your Order</h1>
        
        <img src="/assets/order2.png" height="200px" width="200px" >
    <h3 style="color:crimson;"> Your order has been placed successfully with KitchenStory.com</h3>
    --------------------------------------------------------------------------------
    <h2> Your Order number is : 20213452134</h2>
    --------------------------------------------------------------------------------
    <h6> For any queries reach us at contact@kitchenstory.com or call-us on :040-23415632</h6>
        <br>
        <div class="cardr-footer">
     <a [routerLink]="['/home']" ><button class="btn btn-danger">Thank You</button>  </a>
    <br><br>
    </div>
    </div>
  </body>



